{% extends "base.html" %}

        {% block content %}
<div class="container-fluid my-style">
      <h2 class="my-heading">What else is happening at Arctic Game Jam 2014?</h2>
<ul>
<li><p>Seeing as how it’s the first time we’re getting together, we’ve prepared some extra side activities to commemorate the occasion -</p></li>

<li><p>Friday 12th September 7pm - 8pm: Pizza time and theme reveal at Arctic Game Jam 2014</p></li>

<li><p>Friday, 12th September 8pm -9pm : Game Development Boot Camp by Kim Daniel Arthur</p></li>

<li><p>Saturday, 13th September 1pm - 3pm: Open Consultation/Troubleshooting - Participants can submit questions and  seek consultation with professional members of Tromsø’s Bedriftsnettverk for Spill&Interaktiv Produksjoner  to ramp up their demo development.</p></li>

<li><p>Saturday 13th September 6pm - 7pm: Pizza Time II - Free food for all registered participants</p></li>

<li><p>Sunday 14th September 12pm -2pm:  Commit! - All participants are meant to submit their game demo which will then be featured in respective order</p></li>

<li><p>Sunday 14th September 3pm: Results of Arctic Game Jam - Demos will be appraised by our select panel and the winning entry for the Arctic Game Jam 2014 will be judged and prizes will be awarded.</p></li>
</ul>
</div>
{% endblock %}