{% extends "base.html" %}
{% block content %}
<div class="container">





            <div class="jumbotron my-style">

                Rules:
                <ul>
                    <li>Participants must be at least 15 years or older to take part</li>
                    <li>Participants can develop solo or in teams with a maximum of 4 person per team</li>
                    <li>Participants are expected to develop an original game idea within 48hrs that must be based around a theme that will be revealed at the start of the Arctic Game Jam.</li>
                    <li>Solo participants, or at least a representative member of their team should be in attendance on location by 8pm on Friday, 12th of September</li>
                    <li>You are expected to bring your own computer equipment and power cords and/or extensions. </li>
                    <li>Tables and seating arrangements at the game jam venue are on a first come, first served basis. </li>
                    <li>You’re allowed to sleep at the venue - so it’s advisable to bring sleeping bags if you’re aiming to get some shuteye at some point of the Arctic Game Jam!</li>
                    <li>You’re also allowed to bring your own food and beverages, although copious amount of pizza and snacks will be provided.</li>
                    <li>Participants are expected to clean up after themselves and if intoxicated, will risk being expelled from the venue. </li>
                    <li>Participants are responsible for the safety of their own equipment.</li>
                </ul>
            </div>
        </div>

    </div>
        {% endblock %}